$opacities-light: (
  background-fade: 0.5,
  background: 1,
  border-strong: 0.8,
  border: 0.4,
  box-shadow: 0.15,
  box-shadow-hover: 0.3,
  button: 0.8,
  card-background: 0.8,
  default: 1,
  font-strong: 1,
  font: 0.8,
);

$opacities-dark: (
  background-fade: 0.5,
  background: 1,
  border-strong: 0.8,
  border: 0.4,
  box-shadow: 0.2,
  box-shadow-hover: 0.4,
  button: 0.8,
  card-background: 0.8,
  default: 1,
  font-strong: 1,
  font: 0.8,
);
